// CSS Reset
@import "reset";
//

$violet: #8581b7;
$lightgray: #ecebeb;
$vertical-space: 3vh 0;
$danger: #ef7b7b;


*:focus{
  outline: none;
}
body{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  height: 100vh;
  background: $lightgray;
}
header{
  background-color: $violet;
  font-size: 35px;
  width: 100%;

  h1{
    padding: 13px;
    color: #b1ace6;
    text-shadow: 1px 1px 1px #191919;
  }
}
section {
  background: $lightgray;

  > form{

    .number-input{
      margin-top: 6vh;
      width: 45%;
      border-radius: 11px;
      height: 63px;
      text-align: center;
    }
    .invalid-input{
      background: #ffc0c0;
      color: $danger;
      border: 1px solid $danger;
    }
    >small{
      color: $danger;
      display: block;
      visibility: hidden;
      margin-right: 46%;
    }
  }
}
.count-button{
  border-radius: 11px;
  border-radius: 15px;
  margin-left: 3vw;
  height: 65px;
  width: 82px;
  background-color: #aee4c0;
  background-image: -webkit-linear-gradient(top, #f3fff7, #9cb3a4);
  font-style: italic;
  font-weight: 900;
  font-size: 16px;
  color: #f1f1f1;
  text-shadow: 1px 1px 1px black;

  &:hover {
    background-image: -webkit-linear-gradient(bottom, #f3fff7, #9cb3a4);
  }
}
.counter{

  >h2{
    font-size: 60px;
    color: #4e4e4e;
    text-shadow: 1px 1px 1px black;
  }
}
.fingers-and-toes{
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: 1px solid lightgray;
  margin: $vertical-space;

  > div{
    background: white;
    border-radius: 11px;
    display: inline-block;
    padding: 6vh 0;
    margin: $vertical-space;
    width: 42%;
    position: relative;
    box-shadow: 3px 2px 4px lightgrey;

    h2{
      font-size: 1.6em;
    }
    small{
      color: lightgray;
      position: absolute;
      bottom: 3px;
      left: 5px;
    }
  }
}
.button-group{
  padding-bottom: 10px;

  button{
    @extend .count-button;
    background-image: -webkit-linear-gradient(top, #ffc0c0, #ef7b7b);
    &:hover{
      background-image: -webkit-linear-gradient(bottom, #ffc0c0, #ef7b7b);
    }
  }
  .restart-button{
    margin-left: 0;
  }
}

@media (max-width: 425px) {
  .counter > h2 {
    font-size: 50px;
  }
  .fingers-and-toes {
    margin: 1vh 0;
  }
}
