html {
  color: #000;
  background: #FFF; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%; }

legend {
  color: #000; }

#yui3-css-stamp.cssreset {
  display: none; }

*:focus {
  outline: none; }

body {
  text-align: center;
  height: 100vh; }

header {
  background-color: #8581b7;
  font-size: 35px;
  width: 100%; }
  header h1 {
    padding: 13px; }

section {
  background: #ecebeb; }

.number-input {
  margin-top: 12vh;
  width: 45%;
  border-radius: 11px;
  height: 63px;
  text-align: center; }

.count-button, .button-group button {
  border-radius: 11px;
  height: 60px;
  border-radius: 15px;
  margin: 4vh 0;
  width: 62px; }

.counter {
  margin: 4vh 0; }
  .counter > h2 {
    font-size: 60px; }

.fingers-and-toes {
  width: 100%;
  display: flex;
  justify-content: space-around; }
  .fingers-and-toes > div {
    background: white;
    border-radius: 11px;
    display: inline-block;
    padding: 10vh 0;
    margin: 4vh 0;
    width: 42%;
    position: relative; }
    .fingers-and-toes > div small {
      color: lightgray;
      position: absolute;
      bottom: 3px;
      left: 5px; }

.button-group {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 150px; }
