// CSS Reset
@import "reset";
//

$violet: #5c5791;
$lightgray: #ecebeb;

*:focus{
  outline: none;
}
body{
  text-align: center;
  height: 100vh;
}
header{
  background-color: $violet;
  font-size: 35px;
  height: 65px;
  width: 100%;
  vertical-align: middle;

  h1{
    padding: 10px;
  }
}
section {
  background: $lightgray;
}
.number-input{
  margin-top: 15vh;
  width: 45%;
  border-radius: 11px;
  height: 63px;
  text-align: center;
}
.count-button{
  border-radius: 11px;
  height: 60px;
  border-radius: 15px;
  margin: 20px;
  width: 62px;
}
.counter{
  margin: 5vh 0;

  >h2{
    font-size: 60px;
  }
}
.fingers-and-toes{
  width: 100%;
  display: flex;
  justify-content: space-around;

  > div{
    border-radius: 11px;
    display: inline-block;
    padding: 10vh 0;
    background: white;
    width: 42%;
  }
}
