html {
  color: #000;
  background: #FFF; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%; }

legend {
  color: #000; }

#yui3-css-stamp.cssreset {
  display: none; }

*:focus {
  outline: none; }

body {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  height: 100vh;
  background: #ecebeb; }

header {
  background-color: #8581b7;
  font-size: 35px;
  width: 100%; }
  header h1 {
    padding: 13px;
    color: #b1ace6;
    text-shadow: 1px 1px 1px #191919; }

section {
  background: #ecebeb; }
  section > form .number-input {
    margin-top: 6vh;
    width: 45%;
    border-radius: 11px;
    height: 63px;
    text-align: center; }
  section > form .invalid-input {
    background: #ffc0c0;
    color: #ef7b7b;
    border: 1px solid #ef7b7b; }
  section > form > small {
    color: #ef7b7b;
    display: block;
    visibility: hidden;
    margin-right: 46%; }

.count-button, .button-group button {
  border-radius: 11px;
  border-radius: 15px;
  margin-left: 3vw;
  height: 65px;
  width: 82px;
  background-color: #aee4c0;
  background-image: -webkit-linear-gradient(top, #f3fff7, #9cb3a4);
  font-style: italic;
  font-weight: 900;
  font-size: 16px;
  color: #f1f1f1;
  text-shadow: 1px 1px 1px black; }
  .count-button:hover, .button-group button:hover {
    background-image: -webkit-linear-gradient(bottom, #f3fff7, #9cb3a4); }

.counter > h2 {
  font-size: 60px;
  color: #4e4e4e;
  text-shadow: 1px 1px 1px black; }

.fingers-and-toes {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: 1px solid lightgray;
  margin: 3vh 0; }
  .fingers-and-toes > div {
    background: white;
    border-radius: 11px;
    display: inline-block;
    padding: 6vh 0;
    margin: 3vh 0;
    width: 42%;
    position: relative;
    box-shadow: 3px 2px 4px lightgrey; }
    .fingers-and-toes > div h2 {
      font-size: 1.6em; }
    .fingers-and-toes > div small {
      color: lightgray;
      position: absolute;
      bottom: 3px;
      left: 5px; }

.button-group {
  padding-bottom: 10px; }
  .button-group button {
    background-image: -webkit-linear-gradient(top, #ffc0c0, #ef7b7b); }
    .button-group button:hover {
      background-image: -webkit-linear-gradient(bottom, #ffc0c0, #ef7b7b); }
  .button-group .restart-button {
    margin-left: 0; }

@media (max-width: 425px) {
  .counter > h2 {
    font-size: 50px; }
  .fingers-and-toes {
    margin: 1vh 0; } }
