// CSS Reset
@import "reset";
//

$violet: #8581b7;
$lightgray: #ecebeb;
$vertical-space: 3vh 0;
$danger: #ef7b7b;


*:focus{
  outline: none;
}
body{
  text-align: center;

}
header{
  background-color: $violet;
  font-size: 35px;
  width: 100%;

  h1{
    padding: 13px;
  }
}
section {
  background: $lightgray;
  height: 100vh;

  > form{

    .number-input{
      margin-top: 12vh;
      width: 45%;
      border-radius: 11px;
      height: 63px;
      text-align: center;
    }
    .invalid-input{
      background: #ffc0c0;
      color: $danger;
      border: 1px solid $danger;
    }
    >small{
      color: $danger;
      display: block;
      visibility: hidden;
      margin-right: 46%;
    }
  }
}
.count-button{
  border-radius: 11px;
  height: 60px;
  border-radius: 15px;
  margin-left: 3vw;
  width: 62px;
}

.counter{
  margin: $vertical-space;

  >h2{
    font-size: 60px;
  }
}
.fingers-and-toes{
  width: 100%;
  display: flex;
  justify-content: space-around;

  > div{
    background: white;
    border-radius: 11px;
    display: inline-block;
    padding: 10vh 0;
    margin: $vertical-space;
    width: 42%;
    position: relative;

    small{
      color: lightgray;
      position: absolute;
      bottom: 3px;
      left: 5px;
    }
  }
}
.button-group{
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 150px;
  button{
    @extend .count-button;
  }
}
